# Database Configuration
DATABASE_HOST=db
DATABASE_PORT=3306
DATABASE_USERNAME=vapor_user
DATABASE_PASSWORD=password
DATABASE_NAME=common_db

# SSL Configuration (Paths inside the container)
CERT_PATH=/app/cert.pem
KEY_PATH=/app/key.pem

# Logging
LOG_LEVEL=debug
