# Local Secrets & SSL
cert.pem
key.pem
*.pem

# Logs
*.log
server.log

# .env files
.env
.env.*
!.env.example

# Build & OS
Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
default.profraw
